---
import { getLangFromUrl } from "src/i18n/utils.ts";

const path = (Astro.url.pathname)
const pathResult = path.split("/").slice(2, path.length);

const locale = getLangFromUrl(Astro.url)

---

<nav class="container-xl mx-auto" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb text-capitalize">
        <li class="breadcrumb-item">
            <a href={`/${locale}/#`}>
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        {pathResult.map( item => <li class="breadcrumb-item active" aria-current="page">
            <a href="#">{item}</a>
        </li>)}
    </ol>
</nav>