---
import LanguagePicker from "@components/utils/LanguagePicker.astro";
import SocialMedia from "@components/utils/SocialMedia.astro";
import ThemeSwitcher from "@components/utils/ThemeSwitcher.astro";

---

<header data-bs-theme="dark" class="text-bg-success text-white container-fluid">

  <section style="font-size: smaller;" class="container-xl mx-auto navbar justify-content-between align-items-center">

    <div>
        <i class="fa fa-volume-control-phone me-1"></i> +81 345-67-889
        <span class="vr mx-2" />
        <i class="fa fa-envelope me-1"></i> estate@mailbox.com
    </div>

    <div class="nav gap-2 gap-lg-3 align-items-center">
      <ThemeSwitcher />
      <LanguagePicker />
      <SocialMedia />
    </div>

  </section>

</header>