---
import type { GetStaticPaths } from "astro";
import { languages } from "src/i18n/ui.ts";;
import Layout from "@layouts/AccountLayout.astro";

export const getStaticPaths = (() => {
    
    return Object.keys(languages).map( 
        lang => ({ params: { lang }})
    );
}) satisfies GetStaticPaths;


const { lang } = Astro.props;
const title = () => lang == "en" ? "login": "comptes"; 
const description = () => lang == "en" ? "description in english":"description en francais";
const keywords = () => lang == "en" ? ["one","two"] : ["un","deux"];
---

<Layout title={title()} description={description()} keywords={keywords()}>

    <form style="max-width: 568px;" class="p-3 mt-4">

        <h2 class="mb-3 text-center">Signin</h2>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <p class="mb-3">
            Please if you do not have an account <a class="fw-semibold text-primary" href="/en/accounts/register">click here</a> to get to the register page.
            If you have any other problems please <a class="fw-semibold text-primary" href="/en/contact-us">click here</a> to get to us.
        </p>
        
        <button class="btn btn-primary mb-3 w-100">
            Sign in 
        </button>

        <p class="my-4 text-center">
            OR
        </p>

        <button class="btn btn-dark w-100 mb-3">
            Google Account
        </button>

        <button class="btn btn-light border w-100 mb-3">
            Facebook Account
        </button>

    </form>

</Layout>

