---
import type { GetStaticPaths } from "astro";
import { languages } from "src/i18n/ui.ts";;
import Layout from "@layouts/AccountLayout.astro";
import RegisterStepOne from "@components/accounts/RegisterStepOne.astro";
import RegisterStepTwo from "@components/accounts/RegisterStepTwo.astro";
import RegisterStepThree from "@components/accounts/RegisterStepThree.astro";

export const getStaticPaths = (() => {
    
    return Object.keys(languages).map( 
        lang => ({ params: { lang }})
    );
}) satisfies GetStaticPaths;


const { lang } = Astro.props;
const title = () => lang == "en" ? "login": "comptes"; 
const description = () => lang == "en" ? "description in english":"description en francais";
const keywords = () => lang == "en" ? ["one","two"] : ["un","deux"];

---

<Layout title={title()} description={description()} keywords={keywords()}>

    <h3 class="mt-2">Register</h3>

    <div class="container-xs mx-auto position-relative">
        <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
          <div id="bar" class="progress-bar" style="width: 0%"></div>
        </div>
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-secondary btn-sm rounded-pill stepo">1</button>
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-secondary btn-sm rounded-pill stepo">2</button>
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-secondary btn-sm rounded-pill stepo">3</button>
    </div>
    

    <form class="container-xs overflow-x-hidden">
        
        <section class="form-carousel w-100 border">
            <!-- step1 -->
            <RegisterStepOne />
            <!-- step 2 -->
            <RegisterStepTwo />
            <!-- step 3 -->
            <RegisterStepThree />
        </section>
        
    </form>

    <section class="container-xs nav justify-content-between align-items-center">
        <button id="prev" class="btn btn-sm btn-secondary">previous</button>
        <button id="nex" class="btn btn-sm btn-primary">next</button>
    </section>

</Layout>

<script src="src/js/register.ts"></script>