---

interface Props  {
    clr?: string;
}

const { clr = "" } = Astro.props;
---

<div class="btn btn-sm opacity-50 placeholder-glow">
    <span style="width: 64px;" class="placeholder"></span>
</div>