---
import CardPlaceHolder from "./CardPlaceHolder.astro"
---

<aside class="container row g-3 opacity-25 p-3 mx-auto" >

    <div  class="col-12 placeholder-glow">
        <div style="min-height: max(200px,30vh);" class="placeholder w-100 rounded-3">
        </div>
    </div>

    {[1,2,3,4,5].map( i => <div class="col-6 col-lg-4 ">
        <CardPlaceHolder />
    </div>)}

</aside>