---
import { getCollection } from "astro:content";

const team = await getCollection("authors");
---

<ul style="list-style: none;" class="nav justify-content-center gap-3 py-3">

    {team.map( (staff) => <li style="max-width: 200px;" class="card border-0">
        <img 
        style="height: 220px;"
            decoding="async"
            loading="lazy" 
            src={staff.data.image?.src} 
            alt={staff.data.image?.alt} 
            class="object-fit-cover rounded-3 w-100" 
        />
        <div class="card-body text-center lh-0">
            {staff.data.name} <br/>
            {staff.data.post}
        </div>
    </li>)}

</ul>