


<section class="h-100 p-5 text-bg-dark bg-gradient border rounded-3 row"> 
    <div class="col-5 lh-0">
        <h1 class="">Summer styles are finally here</h1>

        <p>This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die.</p>

        <button class="btn btn-primary">Shop Collction</button>
    </div>

    <div class="col-7 d-flex">
        <img src="/images/estates/tropical-2.jpg" class="object-fit-contain rounded-2" alt="mig">
        <img src="/images/estates/tropical-3.jpg" class="object-fit-contain rounded-3 h-50" alt="mig2">
    </div>
</section>
