<section class="h-100 hit p-5 border rounded-3 row"> 

    <div class="col-10 mx-auto lh-0 text-center h-100">
        <h1 class="">Summer styles are finally here</h1>

        <p>This year, our new summer collection will shelter you from the harsh elements of a world that doesn't care if you live or die.</p>

        <button class="btn btn-primary btn-sm mt-4">Shop Collction</button>
    </div>

</section>


<style>
    .hit {
        background: black url("/public/images/pp/woman03.jpg") no-repeat center;
        background-size: cover;
        mix-blend-mode: darken;
        /* background-blend-mode: darken; */
    }
</style>