---
import ClientLayout from "@layouts/ClientLayout.astro";

const headerInfo = {
    title:"home",
    description : "bref presentation of areas were hosts use our platform",
    keywords: ["real estate","properties","rent","rooms","appartment"]
}
---


<ClientLayout { ...headerInfo} >
    <h1>Home Page</h1>


    <section class="container mx-auto py-4">

        <h4>
            Good Offers Right Now
        </h4>
        <p>
            Up to 20% discounts 
        </p>

        <div class="row g-3">

            <div class="col-md-6">
                <img src="/images/estates/tropical-2.jpg" alt="tokyo">
            </div>

            <aside class="col-md-6 row">

            </aside>

        </div>
        
    </section>

    <section class="container mx-auto py-4">

        <h4>Explore Before you chose</h4>

        <div class="nav gap-3 align-items-center justify-content-between">

            <span>
                Take a closer look at the thoughtfully designed areas that make The Orchard Living a truly exceptional place
            </span>

            <a class="btn btn-sm btn-secondary rounded-pill" href="/">
                Check Our Catalogue today
            </a>

        </div>

    </section>



</ClientLayout>
