---

---
<fieldset id="step-1" class="form-step p-3">

    <legend class="mb-4 fs-6 nav align-items-center justify-content-between">
        <span class="text-start">step 2</span>
        <span class="text-primary">Account Info</span>
    </legend>

</fieldset>