---
import { getLangFromUrl, useTranslations } from "src/i18n/utils.ts";

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<fieldset id="step-3" class="form-step p-3">

    <legend class="mb-4 fs-6 nav align-items-center justify-content-between">
        <span class="text-start text-capitalize">{t("step")} 3</span>
        <span class="text-primary">{t("step3")}</span>
    </legend>

    <div class="mb-3 mt-4">
        <p class="fw-bolder">{t("verified.record")}</p> 
        <input class="form-check-input mx-2" type="radio" id="ciminalRecord" value="yes" required>
        <label class="form-check-label" for="inlineRadio1">{t("y")}</label>
        <input class="form-check-input mx-2" type="radio" id="ciminalRecord" value="no">
        <label class="form-check-label" for="inlineRadio1">{t("n")}</label>
    </div>

    <div class="mb-3">
        <p class="fw-bolder">{t("verified.scam")}? </p> 
        <input class="form-check-input mx-2" type="radio" id="scam" value="yes" required>
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        <input class="form-check-input mx-2" type="radio" id="scam" value="no">
        <label class="form-check-label" for="inlineRadio1">No</label>
    </div>

    <h6 class="my-3">Finish Line: Almost there </h6>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="truth" value="accept" required>
        <label class="form-check-label" for="truth">{t("verified.trueInfo")}?</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="acceptTerms" value="accept" required>
        <label class="form-check-label" for="acceptTerms">{t("verified.accept")}?</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="readTerms" value="read" required>
        <label class="form-check-label" for="readTerms">{t("verified.read")}?</label>
    </div>

    <div class="my-3 nav justify-content-between align-items-center text-capitalize">

        <label for="nexto2" class="btn btn-sm"> 
            <i class="fa fa-long-arrow-left me-1"></i>
            {t("prev")} 
        </label>

        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-user me-1"></i>
            <span>{t("create.acn")}</span>
        </button>
    </div>
    
</fieldset>

