---
---

<fieldset id="step-1" class="form-step p-3">

    <legend class="mb-4 fs-6 nav align-items-center justify-content-between">
        <span class="text-start">step 3</span>
        <span class="text-primary">Last details</span>
    </legend>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="profilPic" placeholder="name@example.com">
        <label for="profilPic">Profile Pic</label>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" id="desc"></textarea>
        <label for="name">Prefered Payment</label>
    </div>

    <hr/>

    <div class=" mb-3">
        <span>Any Criminal records: </span> 
        <input class="form-check-input" type="radio" id="ciminalRecord" value="yes" required>
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        <input class="form-check-input" type="radio" id="ciminalRecord" value="no">
        <label class="form-check-label" for="inlineRadio1">No</label>
    </div>

    <div class=" mb-3">
        <span>Are you here to scam people ? </span> 
        <input class="form-check-input" type="radio" id="scam" value="yes" required>
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        <input class="form-check-input" type="radio" id="scam" value="no">
        <label class="form-check-label" for="inlineRadio1">No</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="truth" value="accept" required>
        <label class="form-check-label" for="truth">Yes all the information given here correct?</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="acceptTerms" value="accept" required>
        <label class="form-check-label" for="acceptTerms">Yes I have read the terms & Conditions of use</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="readTerms" value="read">
        <label class="form-check-label" for="readTerms">Yes I accept the terms & Conditions of use</label>
    </div>

    <div class="my-3 nav justify-content-between align-items-center">

        <label for="nexto2" class="btn btn-sm"> 
            back 
        </label>

        <button type="submit" class="btn btn-sm btn-primary">
            <i class="bi bi-person-add"></i>
            <span> Create Account</span>
        </button>
    </div>
    
</fieldset>

