---

---
<fieldset id="step-1" class="form-step p-3">

    <legend class="mb-4 fs-6 nav align-items-center justify-content-between">
        <span class="text-start">step 2</span>
        <span class="text-primary">Account Info</span>
    </legend>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="name@example.com">
        <label for="name">Username / Estate Name</label>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" id="desc" rows="3"></textarea>
        <label for="name">About Me</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Business Email</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="profilPic" placeholder="name@example.com">
        <label for="profilPic">Licence ID</label>
    </div>

    <div class="input-group mb-3 border">
        <div class="form-floating">
            <input type="email" class="form-control border-0" id="profilPic" placeholder="name@example.com">
            <label for="profilPic">Address (Country</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control border-0" id="profilPic" placeholder="name@example.com">
            <label for="profilPic">- Town/city - </label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control border-0" id="profilPic" placeholder="name@example.com">
            <label for="profilPic">neighbourhood)</label>
        </div>
    </div>

    

    <section class="d-flex justify-content-between align-items-center">
        <label for="nexto1" class="btn btn-sm"> Previous </label>

        <label for="nexto2" class="btn btn-sm btn-primary"> Next </label>
    </section>

</fieldset>