---
import type { GetStaticPaths } from "astro";
import { languages } from "src/i18n/ui.ts";
import ClientLayout from "@layouts/ClientLayout.astro";
import Home from "@components/estatesPages/Home";
import PagePlaceHolder from "@components/placeholders/PagePlaceHolder.astro";
import SearchHeader from "@components/headers/SearchHeader";
import BtnPlaceholder from "@components/placeholders/BtnPlaceholder.astro";
import SearchForm from "@components/estatesPages/SearchForm";

export const prerender = false;

export const getStaticPaths = (() => {
    
    return Object.keys(languages).map( locale => ({
        params: { locale , paths: "/*" }
    }))
}) satisfies GetStaticPaths; 

const pageInfo = {
    title: "Estate",
    description:"search places to rent",
    keywords:["rent","buy"]
}
---

<ClientLayout {...pageInfo}>
    <header class="container-fluid d-flex flex-column justify-content-center align-items-center bg-body-tertiary border p-3">
        <div class="container-sm mx-auto py-5 text-center"> 
            <h1 class="display-6 fw-bold">Look for an Estate ?</h1> 
            <p class="col-md-8 text-center fs-6 mx-auto">
                Using a series of utilities, you can create this jumbotron, 
                just like the one in previous versions of Bootstrap. 
                Check out the examples below for how you can remix and restyle it to your liking.
            </p>
        </div>
    </header>

    <SearchForm client:only="solid-js">
        <BtnPlaceholder slot="fallback" />
    </SearchForm>

    <Home client:only="solid-js">
        <PagePlaceHolder slot="fallback" />
    </Home>


</ClientLayout>