---
import SocialMedia from "@components/utils/SocialMedia.astro";
import { useTranslations , getLangFromUrl } from "src/i18n/utils.ts";

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale)

const year =  new Date().getFullYear();
---


<footer class="container mx-auto border-top d-flex flex-wrap justify-content-center justify-content-sm-between gap-2 p-2 text-body-muted">
    <p class="nav gap-2">
     <SocialMedia />
    </p>
    
    <small>
      &copy; {year}  { t("base.footer")}
    </small>
      
</footer>