---
import { useTranslations , getLangFromUrl } from "src/i18n/utils.ts";
import Logo from "@components/navbars/Logo.astro";
import NewsLetter from "@components/utils/NewsLetter.astro";

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale)

const pages = [
    {name: t('nav.home') , link: "/"+locale+"/" },
    { name: t('nav.about'), link: "/"+locale+"/about-us" },
    { name: t('nav.pricing'), link: "/"+locale+"/pricing" },
    { name: t('nav.blog'), link: "/"+locale+"/blog" },
    { name: t('nav.contactus') , link: "/"+locale+"/contact-us" },
    { name: t('nav.help'), link: "/"+locale+"/terms-and-conditions" },
    { name : t('nav.privacy'), link: "/"+locale+"/privacy" },
];

---

<div class="container-fluid border-top">
    
    <footer class="container-xxl py-4 row mx-auto">

        <div class="col-12 col-md-4 mb-3">
           <Logo />
            <ul class="nav flex-column">
            <li class="nav-item small mb-2">
                Mollitia in, ipsa omnis iste similique, vitae vero voluptates error recusandae temporibus dolorum necessitatibus sapiente nam distinctio doloribus quibusdam, aperiam culpa reprehenderit?
            </li>
            </ul>
        </div>

        <div class="d-none d-md-inline col-md-4 col-lg-2 mb-3">
            <h5>Useful Links</h5>
            <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Account</a></li>
            </ul>
        </div>

        <div class="d-none d-md-inline col-md-4 col-lg-2 mb-3">
            <h5>Features</h5>
            <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link">Houses</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Estates</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Rooms</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Appartments</a></li>
            </ul>
        </div>

        <div class="col-12 col-lg-4 mb-3">
            <NewsLetter />
        </div>
        
    </footer>

    {/* <footer class="container-xl d-flex flex-wrap justify-content-between"> */}
    <footer class="container-xxl row row-cols-1 row-cols-lg-2 justify-content-center mx-auto text-capitalize">

        <div class="col nav">
            {pages.slice(0,4).map( item =>  <a class="nav-link small" href={item.link}>{ item.name }</a>)}
        </div>


        <div class="col nav justify-content-lg-end gap-2 small">
            {pages.slice(4).map( item =>  <a class="nav-link small" href={item.link}>{ item.name}</a>)}
        </div>

    </footer>
</div>