

<section class="container nav mx-auto p-3 justify-content-center align-items-center gap-2">
    <a></a>
    

    <a class="btn rounded-pill btn-lg" href="/#..">...</a>
    <a class="btn rounded-pill btn-lg" href="">13</a>
  </section>