---

import { useTranslations, getLangFromUrl } from "src/i18n/utils.ts";
import Logo from "@components/navbars/Logo.astro";
import OffCanvas from "@components/navbars/OffCanvas.astro";

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---
<!-- -->

<nav class="navbar navbar-expand-lg" aria-label="Main navigation">

  <div class="container-xl">

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon"></i>
    </button>

    <Logo />

    <OffCanvas/>

    <aside>

      <button class="btn ">
        <i class="bi bi-person"></i>
      </button>
  
      <a href={`/${locale}/contact-us`} class="btn btn-primary btn-sm rounded-4"> 
        <i class="bi bi-telephone-fill small"></i>
        <span class="d-none d-lg-inline ms-1"> {t('nav.contactus')}</span>
      </a>
      

    </aside>

  </div>
</nav>