---
import Layout from "./Layout.astro";
import BaseFooter from "@components/footers/BaseFooter.astro";
import ClientHeader from "@components/headers/ClientHeader.astro";
import BtnPlaceholder from "@components/placeholders/BtnPlaceholder.astro";
import BreadCrumb from "@components/utils/BreadCrumb";
import { getLangFromUrl, useTranslations } from "src/i18n/utils.ts";

interface Props {
	title: string;
	description: string;
	keywords: string[];
}

const locale  = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const {
	title = "estate-develop",
	description="page description",
	keywords = ["rent","booking","rent houses","book room","villa","appartment"]
} = Astro.props
---


<Layout 
    title={title} 
    description={description} 
    keywords={keywords}
>
    <ClientHeader />
    
    <main style="min-height: calc(100vh - 3em);" class="d-flex flex-column gap-3 justify-content-between align-items-center border h-100">

        <nav class="container-sm d-flex align-items-center justify-content-between gap-1 mx-auto p-3">

            <a class="btn" href={`/${locale}/`}> 
                <i class="fa fa-home" /> {t("nav.home")}
            </a>

            <div>
                <BreadCrumb client:only="solid-js">
                    <BtnPlaceholder slot="fallback" />
                </BreadCrumb>
            </div>

        </nav>

        
        <slot />

        <BaseFooter />

    </main>

    
    
</Layout>