---
import Layout from "./Layout.astro";
import BaseFooter from "@components/footers/BaseFooter.astro";
import ClientHeader from "@components/headers/ClientHeader.astro";

interface Props {
	title: string;
	description: string;
	keywords: string[];
}

const {
	title = "estate-develop",
	description="page description",
	keywords = ["rent","booking","rent houses","book room","villa","appartment"]
} = Astro.props
---


<Layout 
    title={title} 
    description={description} 
    keywords={keywords}
>
    <ClientHeader />
    <main style="min-height: max(50vh,640px);" class="container-fluid d-flex flex-column justify-content-center align-items-center p-0 m-0">
        <slot />
    </main>
    <BaseFooter />
</Layout>