---
import ClientFooter from "@components/footers/ClientFooter.astro";
import Layout from "./Layout.astro";
import BaseFooter from "@components/footers/BaseFooter.astro";
import ClientNavbar from "@components/navbars/ClientNavbar.astro";
import ClientHeader from "@components/headers/ClientHeader.astro";
import BreadCrumb from "@components/utils/BreadCrumb.tsx";
import BtnPlaceholder from "@components/placeholders/BtnPlaceholder.astro";
import Adverts from "@components/utils/adverts.tsx";

interface Props {
	title: string;
	description: string;
	keywords: string[];
}

const {
	title = "estate-develop",
	description="page description",
	keywords = ["rent","booking","rent houses","book room","villa","appartment"]
} = Astro.props
---


<Layout 
    title={title} 
    description={description} 
    keywords={keywords}
>
    <ClientHeader/>
    <ClientNavbar />
    <div class="container mx-auto p-2 p-lg-3">
        <BreadCrumb  client:only="solid-js" >
            <BtnPlaceholder slot="fallback" />
        </BreadCrumb>
    </div>
    <slot />
    <Adverts client:only="solid-js"> 
        <div slot="fallback" class="col-12 placeholder-glow">
            <div style="min-height: max(200px,30vh);" class="placeholder w-100 rounded-3">
            </div>
        </div>
    </Adverts>
    <ClientFooter />
    <BaseFooter />
</Layout>