---
import { getLangFromUrl, useTranslations } from "src/i18n/utils.ts"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<form>
    <h5>{t("newsletter.text1")}</h5>
    <p>{t("newsletter.text2")}</p>
    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <label for="newsletter1" class="visually-hidden">{t("email")}</label>
        <input id="newsletter1" type="text" class="form-control" placeholder={t("email.placeholder")} required />
        <button class="btn btn-primary" type="button">{t("subscribe")}</button>
    </div>
</form>