---

---

<button class="btn btn-sm" id="themeToggle">
   <i class="moon fa fa-moon-o"></i>
   <i class="sun fa fa-sun-o"></i>
</button>

<script is:inline>

    const theme = (() => {
        const localStorageTheme = localStorage?.getItem("theme") ?? '';
        if (['dark', 'light'].includes(localStorageTheme)) return localStorageTheme;
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) return 'dark';
        return 'light';
    })();
  
    document.body.setAttribute('data-bs-theme', theme === 'light'?"dark":"light");
    window.localStorage.setItem('theme', theme);
  
    const handleToggleClick = () => {
        const current = document.body.getAttribute("data-bs-theme");
        const isDark = current === "dark";
        document.body.setAttribute('data-bs-theme', isDark?"light":"dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    }
  
    document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick);
  </script>